# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.vcxproj.user
*.vcxproj.filters
*.opensdf
*.sdf
*.suo

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#
[Bb]in/
[Xx]64/
[Xx]32/
[Dd]ebug/
[Rr]elease/
Output


